<<<<<<< HEAD
input[name="PROPERTY_1660[n0][VALUE]"]{
    display: none;
}
input[name="PROPERTY_1661[n0][VALUE]"]{
    display: none;
=======
input[name="PROPERTY_1660[n0][VALUE]"]{
    display: none;
}
input[name="PROPERTY_1661[n0][VALUE]"]{
    display: none;
>>>>>>> e0a0eba79 (init)
}