<!DOCTYPE html>
<html>

<head>
    <title>Служебная записка</title>
    <meta charset='UTF-8'>
</head>

<body style='font-size:14px; width: 500px;'>

<table>
    <tr>
        <td style='width: 250px;'></td>
        <td style='width: 250px; text-align: center;'>
            <b>Заместителю Губернатора<br>Тульской области - руководителю<br>аппарата Правительства Тульской<br>области – начальнику главного<br>управления государственной<br> службы и кадров аппарата<br>Правительства<br>Тульской области<br><br>Якушкиной Г.И.
                <br><br><br>
        </td>
    </tr>
</table>

<div style='text-align: center;'><b>Уважаемая Галина Ивановна</b></div>
<br>
<br>

<div style='text-align: justify; text-indent: 30px'>
    <span>В штатном расписании #OIV_ROD# имеется вакантная должность #POSITION_ROD#.
    </span>
</div>
<div style='text-align: justify; text-indent: 30px'>
    <span>Прошу рассмотреть возможность назначить на указанную должность #FIO_ROD#.
    </span>
</div>
<div style='text-align: justify; text-indent: 30px'>
    <span>Дата рождения: #DATA_ROZHDENIA#. Номер телефона: #TELEFON#.
    </span>
</div>
<div style='text-align: justify; text-indent: 30px'>
    <span>#FIO# соответствует квалификационным требованиям, предъявляемым к вакантной должности #POSITION_ROD#.
    </span>
</div>
<div style='text-align: justify; text-indent: 30px'>
    <span>На основании изложенного ходатайствую о назначении
#FIO_ROD# на должность #POSITION_ROD# с должностным окладом – #OKLAD# рублей, надбавкой к должностному окладу – #NADBAVKA#%, ежемесячным денежным поощрением – #POOSHRENIE# должностного оклада.
    </span>
</div>
<br><br>
<table>
    <tr>
        <td style='width: 250px; text-align: center;'><b>#OIV_NAME#</b></td>
        <td style='width: 250px; text-align: right;'><b>#OIV_FIO#</b></td>
    </tr>
</table>

</body>

</html>