<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "Согласовано"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "Утверждаю"</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Управление делами</p>
<p>аппарата правительства Тульской области&nbsp;&nbsp;&nbsp;&nbsp; _____________________________</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ___________________________&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; _____________________________</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp; "___" ______________ 20___ г.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; "____" _____________ 20___ г.</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; МАТЕРИАЛЬНЫЙ ПРОПУСК N _____/_____</p>
<p>&nbsp;</p>
<p>__________________________</p>
<p>&nbsp;учреждение, организация</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ┌─────────────────────┐&nbsp;&nbsp;&nbsp;&nbsp; ┌───┐</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Дата&nbsp;&nbsp; │ ___________ 20___ г.│&nbsp;&nbsp;&nbsp;&nbsp; │ 4 │ накладная N ________</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; └─────────────────────┘&nbsp;&nbsp;&nbsp;&nbsp; └───┘</p>
<p>&nbsp;</p>
<p>Кому ______________________________________________________________________</p>
<p>___________________________________________________________________________</p>
<p>Основание __________________________ Через кого ___________________________</p>
<p>&nbsp;</p>
<table border="1" cellspacing="0">
    <tbody>
    <tr>
        <td rowspan="2" width="49">
            <p>Код типа строки</p>
        </td>
        <td rowspan="2" width="34">
            <p>N п/п</p>
        </td>
        <td colspan="2" width="181">
            <p>Материалы</p>
        </td>
        <td width="45">
            <p>Единица измерения</p>
        </td>
        <td colspan="2" width="96">
            <p>Количество</p>
        </td>
        <td rowspan="2" width="51">
            <p>Цена</p>
        </td>
        <td rowspan="2" width="64">
            <p>Сумма</p>
        </td>
        <td rowspan="2" width="87">
            <p>Порядковый номер записи по складской картотеке</p>
        </td>
    </tr>
    <tr>
        <td width="110">
            <p>Наименование, сорт, размер, марка</p>
        </td>
        <td width="72">
            <p>Код (номенклатурный номер)</p>
        </td>
        <td width="45">
            <p>Код</p>
        </td>
        <td width="45">
            <p>Надлежит отпустить</p>
        </td>
        <td width="51">
            <p>Отпущено</p>
        </td>
    </tr>
    <tr>
        <td width="49">
            <p>3</p>
        </td>
        <td width="34">
            <p>1</p>
        </td>
        <td width="110">
            <p>&nbsp;</p>
        </td>
        <td width="72">
            <p>&nbsp;</p>
        </td>
        <td width="45">
            <p>&nbsp;</p>
        </td>
        <td width="45">
            <p>&nbsp;</p>
        </td>
        <td width="51">
            <p>&nbsp;</p>
        </td>
        <td width="51">
            <p>&nbsp;</p>
        </td>
        <td width="64">
            <p>&nbsp;</p>
        </td>
        <td width="87">
            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td width="49">
            <p>3</p>
        </td>
        <td width="34">
            <p>2</p>
        </td>
        <td width="110">
            <p>&nbsp;</p>
        </td>
        <td width="72">
            <p>&nbsp;</p>
        </td>
        <td width="45">
            <p>&nbsp;</p>
        </td>
        <td width="45">
            <p>&nbsp;</p>
        </td>
        <td width="51">
            <p>&nbsp;</p>
        </td>
        <td width="51">
            <p>&nbsp;</p>
        </td>
        <td width="64">
            <p>&nbsp;</p>
        </td>
        <td width="87">
            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td width="49">
            <p>3</p>
        </td>
        <td width="34">
            <p>3</p>
        </td>
        <td width="110">
            <p>&nbsp;</p>
        </td>
        <td width="72">
            <p>&nbsp;</p>
        </td>
        <td width="45">
            <p>&nbsp;</p>
        </td>
        <td width="45">
            <p>&nbsp;</p>
        </td>
        <td width="51">
            <p>&nbsp;</p>
        </td>
        <td width="51">
            <p>&nbsp;</p>
        </td>
        <td width="64">
            <p>&nbsp;</p>
        </td>
        <td width="87">
            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td width="49">
            <p>3</p>
        </td>
        <td width="34">
            <p>4</p>
        </td>
        <td width="110">
            <p>&nbsp;</p>
        </td>
        <td width="72">
            <p>&nbsp;</p>
        </td>
        <td width="45">
            <p>&nbsp;</p>
        </td>
        <td width="45">
            <p>&nbsp;</p>
        </td>
        <td width="51">
            <p>&nbsp;</p>
        </td>
        <td width="51">
            <p>&nbsp;</p>
        </td>
        <td width="64">
            <p>&nbsp;</p>
        </td>
        <td width="87">
            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td width="49">
            <p>3</p>
        </td>
        <td width="34">
            <p>5</p>
        </td>
        <td width="110">
            <p>&nbsp;</p>
        </td>
        <td width="72">
            <p>&nbsp;</p>
        </td>
        <td width="45">
            <p>&nbsp;</p>
        </td>
        <td width="45">
            <p>&nbsp;</p>
        </td>
        <td width="51">
            <p>&nbsp;</p>
        </td>
        <td width="51">
            <p>&nbsp;</p>
        </td>
        <td width="64">
            <p>&nbsp;</p>
        </td>
        <td width="87">
            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td width="49">
            <p>3</p>
        </td>
        <td width="34">
            <p>6</p>
        </td>
        <td width="110">
            <p>&nbsp;</p>
        </td>
        <td width="72">
            <p>&nbsp;</p>
        </td>
        <td width="45">
            <p>&nbsp;</p>
        </td>
        <td width="45">
            <p>&nbsp;</p>
        </td>
        <td width="51">
            <p>&nbsp;</p>
        </td>
        <td width="51">
            <p>&nbsp;</p>
        </td>
        <td width="64">
            <p>&nbsp;</p>
        </td>
        <td width="87">
            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td width="49">
            <p>3</p>
        </td>
        <td width="34">
            <p>7</p>
        </td>
        <td width="110">
            <p>&nbsp;</p>
        </td>
        <td width="72">
            <p>&nbsp;</p>
        </td>
        <td width="45">
            <p>&nbsp;</p>
        </td>
        <td width="45">
            <p>&nbsp;</p>
        </td>
        <td width="51">
            <p>&nbsp;</p>
        </td>
        <td width="51">
            <p>&nbsp;</p>
        </td>
        <td width="64">
            <p>&nbsp;</p>
        </td>
        <td width="87">
            <p>&nbsp;</p>
        </td>
    </tr>
    <tr>
        <td width="49">
            <p>2</p>
        </td>
        <td colspan="7" width="408">
            <p>Всего отпущено _______________________ наименований</p>
            <p>прописью</p>
        </td>
        <td width="64">
            <p>&nbsp;</p>
        </td>
        <td width="87">
            <p>&nbsp;</p>
        </td>
    </tr>
    </tbody>
</table>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp; на сумму __________________________________________________ руб.</p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; прописью</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp; Отпуск разрешил&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; М.П.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Главный бухгалтер</p>
<p>&nbsp;</p>
<p>&nbsp;&nbsp;&nbsp; Отпустил&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Получил</p>
<p>&nbsp;&nbsp;&nbsp; --------------------------------</p>
<p>&nbsp;&nbsp;&nbsp; Руководитель&nbsp; или&nbsp; заместитель руководителя органа государственной</p>
<p>власти&nbsp; Тульской&nbsp; области,&nbsp; подразделения&nbsp; аппарата&nbsp; правительства Тульской</p>
<p>области,&nbsp; органа местного самоуправления Тульской области, территориального</p>
<p>органа федерального органа исполнительной власти, располагающегося в здании</p>
<p>на правах аренды или безвозмездного пользования.</p>
<p>&nbsp;</p>