<!DOCTYPE html>
<html>
<head>
    <title>Служебная записка</title>
    <meta charset="UTF-8">
</head>
<body style="font-size:14px; width: 500px;">
<div style="overflow:hidden; margin-bottom: 25px;">
    <div style="width:270px; float:right;text-align: center;">Заместителю Губернатора<br>
        Тульской области-руководителю<br>аппарата правительства Тульской<br>области-начальнику главного<br>управления государственной службы и<br>кадров аппарата правительства<br>Тульской области
        <br>Якушкиной Г.И.
    </div>
</div>
<p align="center">&nbsp;</p>
<h3 align="center">Уважаемая Галина Ивановна!</h3>
<p align="center">&nbsp;</p>
<p style="text-indent: 20px; text-align: justify;">В целях #TSEL_KOMANDIROVANIYA# прошу Вас командировать #DATE_PERIOD# в #MESTA_KOMANDIROVANIYA# следующих сотрудников: #USERS_FIO#.</p>
<p style="text-indent: 20px; text-align: justify;">В случае Вашего согласия прошу поручить главному управлению государственной службы и кадров аппарата правительства Тульской области оформить командирование вышеуказанных сотрудников.</p>

<table style="margin-bottom: 20px">
    <tr>
        <td width="245" style="text-align: center;">
            <strong>#RUKOVODITEL_DOLZHNOST#</strong>
        </td>
        <td width="245" style="text-align: center;">
            <strong>#RUKOVODITEL_FIO#</strong>
        </td>
    </tr>
</table>

<div style="width:210px; margin: 0 auto; clear: both; text-align: center;">
    #PODPIS1#
</div>
</body>
</html>
