<!DOCTYPE html>
<html>
<head>
    <title>Уведомление об иной оплачиваемой работе</title>
    <meta charset="UTF-8">
</head>
<body style="font-size:14px; width: 500px;">
<div style="overflow:hidden; margin-bottom: 25px;">
    <div style="text-align: center;">
        <p><strong>УВЕДОМЛЕНИЕ</strong></p><br/>
        <strong>представителя нанимателя о выполнении иной<br>оплачиваемой работы государственным гражданским служащим<br> Тульской области</strong><br/>
    </div>
</div>

<div>
    <p style="padding-left: 200px; text-align: right;"><ins>#DOLJNOST_NANIMATELYA#</ins></p>
    <p style="text-align: right;">#FIO_NANIMATELYA#</p>
</div>

<div>
	<span>В соответствии с частью 2 статьи 14 Федерального закона от 27 июля 2004 года №79-ФЗ «О государственной гражданской службе Российской Федерации» я,	#FIO_GOSSLUJ#, замещающий(ая) должность государственной гражданской службы Тульской области <ins>#DOLJNOST_GOSSLUJ#</ins> намерен(а) #PERIOD# #TEXT#.<br>
	Организация: #ORGANISATSIYA#.
	</span>
    <p>Основание осуществления иной оплачиваемой деятельности: #VID_DOGOVORA#</p>
    <p>Вышеуказанная работа будет выполняться в свободное от основной работы время и не повлечет за собой конфликт интересов.</p>
    <div style="width:210px; float:left;text-align: left;">
        #CURRENT_DATE#
    </div>
    <div style="width:270px; float:right;text-align: right;">
        <span>#DOLJNOST_GOSSLUJ#</span><br/>
        <span>#FIO_GOSSLUJ#</span><br/>
    </div>
</div>
</body>
</html>
