<!DOCTYPE html>
<html>
<head>
    <title>Заявка на картриджи для Мировых судей</title>
    <meta charset="UTF-8">
</head>
<body style="font-size:14px; width: 500px;">
<div style="overflow:hidden; margin-bottom: 25px;">
    <div style="width:210px; float:left;text-align: left;">
    </div>
    <div style="width:270px; float:right;text-align: right;">
        <strong>#WJL_FIO#</strong><br/>
        <strong>#WJL_DOLZHNOST#</strong><br/>
    </div>
</div>
<p align="center">&nbsp;</p>
<h3 align="center">Заявка на расходные материалы к оргтехнике для Мировых судей</h3>
<p align="center">&nbsp;</p>
<p>
    <strong>ФИО:</strong>
    #WJL_FIO#<br/>
</p>
<p>
    <strong>Должность:</strong>
    #WJL_DOLZHNOST#<br/>
</p>
<p>
    <strong>Подразделение:</strong>
    #WJL_PODRAZDELENE#<br/>
</p>
<p>
    <strong>Дата подачи заявки:</strong>
    #WJL_DATA_PODACHI_ZAYAVKI#<br/>
</p>
<div>
    <strong>Содержание:</strong><br>
    #WJL_SODERZHANIE#
</div>
</body>
</html>