#to_cadrs {
    display: block;
    max-width: 22rem;
    margin: 0 auto;
}

/*.Mon, .Tue, .Wed, .Thu, .Fri, .Sat, .Sun*/
.table-vacation .Tue, .table-vacation .Wed, .table-vacation .Thu, .table-vacation .Fri, .table-vacation .Sat {
    border: unset;
}

.table-vacation tr {
    color: #535c68;
}

.table-vacation .Mon {
    border-right: unset;
}

.table-vacation .Sun {
    border-left: unset;
}

.select-week {
    background: lightblue !important;
}

.table-vacation .cadrs_class {
    background: #61b84d;
    border: unset;
}

.table-vacation .n_class {
    background: #fee541;
    border: unset;
}

.table-vacation .head_class {
    background: #3bc8f5;
    border: unset;
}

.table-vacation .approve {
    background: #61b84d;
    border: unset;
}

.table-vacation td {
    padding: 4px;
    font-size: 12px;
}

.table-vacation th {
    white-space: nowrap;
    padding: 0.2rem 0.5rem;
}

#holidays table {
    border-collapse: collapse;
}

#holidays th {
    border: 1px solid #CCd;
    padding: 4px;
}

#holidays td {
    border: 1px solid #CCd;
}

.plus-btn {
    float: right;
    font-size: 20px;
    padding-right: 8px;
    padding-left: 8px;
    color: #2cb111;
    cursor: pointer;
}

.plus-btn:hover {
    background-color: #EAEAF7;
}

.link-approve {
    color: #090;
}

.link-approve:hover {
    color: #0c0;
}

.link-disapprove {
}

.link-disapprove:hover {
}

.link-remove {
    color: #900;
}

.link-remove:hover {
    color: #c00;
}

table#main-table td {
    width: 20px;
    height: 20px;
    border-color: rgb(165, 197, 223);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.day-title {
    font-weight: bold;
    text-align: center;
}

.day-title-holiday {
    font-weight: bold;
    text-align: center;
    background-color: rgb(245, 178, 178);
}

.day-title-holiday-past {
    font-weight: bold;
    text-align: center;
    background-color: rgb(196, 179, 228);
}

.day-title-past {
    font-weight: bold;
    text-align: center;
    background-color: rgb(231, 231, 243);
}

.day-past {
    background-color: rgb(231, 231, 243);
    position: relative;
}

.day-saved {
    background-color: #ffea29de;
    color: #535c67;
    position: relative;
}

.bg-ruk {
    background-color: #3bc8f5;
}

.bg-ok {
    background-color: #61b84d;
}

.table-vacation .bg-hol, .bg-hol {
    background-color: #dc3545;
}

.comment {
    position: absolute;
    top: 0;
    left: 0;
    margin: 2px;
    white-space: nowrap;
    z-index: 1000;
    color: #666;
}

.active-day {
    height: 100%;
}

.day-partial {
    height: 40%;
}

.mark-head {
    background-color: #3bc8f5;
    color: white;
}

.mark-vacation {
    background-color: #61b84d;
    color: white;
}

.mark-assignment {
    background-color: #e4a9da;
}

.mark-leavematerinity {
    background-color: #b7d4f8;
}

.mark-leavesick {
    background-color: #f2a584;
}

.mark-leaveunpayed {
    background-color: #dd9c26;
}

.mark-unknown {
    background-color: #fe3737;
}

.mark-other {
    background-color: #ccc;
}

.mark-personal {
    background-color: #a68729;
}

.table-vacation .current-user {
    /*background-color:rgb(218, 252, 207);*/
    background-color: #535c681a;
}

.any-user:hover {
    background-color: rgb(240, 248, 248);
}

.planner-ok-button {
    float: left;
    padding: 7px;
    cursor: pointer;
    text-transform: uppercase;
}

.planner-esc-button {
    float: left;
    padding: 7px;
    cursor: pointer;
    margin-left: 10px;
    text-transform: uppercase;
}

.zero-pad {
    padding: 0;
}

.error_res {
    border: 2px solid red;
    color: red;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    border-radius: 10px
}

.info_res {
    border: 2px solid #61b84d;
    color: #61b84d;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    border-radius: 10px
}

#date_edit_form {
    display:none;
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 4px 4px 10px #666;
}

#date_edit_form table {
    border-collapse: collapse;
    background-color: #FFF
}

#date_edit_form table tr:last-child td {
    font-weight: bold;
    height: 20px;
    text-align: center
}

#date_edit_title {
    background-color: #e8e8e8;
    text-align: center
}

#PREVIEW_TEXT {
    width: 100%;
    box-sizing: border-box;
}

#sel_year {
    text-align: center;
    font-size: 1rem;
}

.custom-select {
    font-size: 0.8rem;
    margin-bottom: 5px
}

.table_day {
    font-size: 8px;
    vertical-align: middle;
}

.bcollapse {
    border-collapse: collapse
}

.table-vacation tbody tr {
    border-top: 1px solid #dee2e6;

}

.table-vacation tr {
    height:30px;
}

.showorhide a, .showhideusers a {
    color: white;
    background: #535c68;
    font-weight: 700;
    padding: 5px;
}

.showorhide a:hover, .showhideusers a:hover {
    background: #78808b;
    color: white;
}

.showorhide, .showhideusers {
    margin-bottom: 10px;
    width: 100%;
    clear: both;
}

#delegation {
    margin-bottom: 5px;
}

.errorUser {
    background:#dee2e6;
}
/* START TOOLTIP STYLES */
[tooltip] {
    position: relative; /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
    text-transform: none; /* opinion 2 */
    font-size: .9em; /* opinion 3 */
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
}
[tooltip]::before {
    content: '';
    border: 5px solid transparent; /* opinion 4 */
    z-index: 1001; /* absurdity 1 */
}
[tooltip]::after {
    content: attr(tooltip); /* magic! */
    /* most of the rest of this is opinion */
    font-family: Helvetica, sans-serif;
    text-align: left;

    /*
      Let the content set the size of the tooltips
      but this will also keep them from being obnoxious
      */
    min-width: 3em;
    white-space: pre;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 1000; /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
    display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
    display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
}
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
    bottom: calc(100% + 5px);
}
[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
    left: 50%;
    transform: translate(-50%, -.5em);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
    to {
        opacity: .9;
        transform: translate(-50%, 0);
    }
}

@keyframes tooltips-horz {
    to {
        opacity: .9;
        transform: translate(0, -50%);
    }
}

/* FX All The Things */
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
}

.period_1 {
    border-bottom: 2px solid #61b84d !important;
}

.period_2 {
    border-bottom: 2px solid #3bc8f5 !important;
}

#popupMenu {
    display: none;
    position: absolute;
    top: 343px;
    left: 775px;
    padding: 10px;
    background: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0, 0.5);
    color: #343a40;
}

#popupMenu a {
    display: block;
    color: #343a40;
}

#popupMenu a:hover {
    color: #bdad1b;
}

#closeMenu {
    color: #343a40;
    position: absolute;
    right: 5px;
    top: 0;
}

.modal-overlay {
    /*  background: rgba(39, 179, 96, 1); */
    background: rgba(33, 33, 61, .5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 201;
}

.modal-wrapper {
    /*position: fixed;*/
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: hidden;
    pointer-events: none;
    z-index: 201;
}

.modal {
    background: #fff;
    color: #666871;
    text-align: center;
    max-width: 600px;
    /* max-width: 90%; */
    height: 380px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    margin: auto;
    padding: 40px;
    padding-top: 5px;
    pointer-events: auto;
    font-weight: bold;
    visibility: hidden;
}

@media screen and (max-width: 40em) {
    .modal { height: 350px; }
}

.modal h2 {
    font-size: 2.25em;
    margin: 0.5em 0 0.25em;
    color: #BDBFCA;
}

.close-modal {
    color: #aaa;
    background: none;
    position: absolute;
    top: 10px;
    right: 10px;
    border: none;
    width: 20px;
    height: 20px;
    line-height: 15px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
}

.close-modal:hover {
    color: #666871;
}

.js-blur {
    display: block;
}

.heads {
    height: 190px;
    overflow: auto;
    margin-bottom: 15px;
}

.clearfix {
    clear:both;
}

.docsign-cryptoplugin select {
    width: 100%;
    margin-bottom: 40px;
}
