<!DOCTYPE html>
<html><head>
    <meta charset="UTF-8">
</head>
<body style="font-size:14px;">
<div style="width:500px; margin:0 auto">
    <div style="overflow: hidden;">
        <div style="text-align: center;float:right; width:280px;margin-bottom: 10px;" >
            <span>Заместителю Губернатора Тульской области – руководителю аппарата правительства Тульской области – начальнику главного управления государственной службы и кадров аппарата правительства Тульской области</span>
        </div>
    </div>
    <div style="overflow: hidden;margin-bottom: 20px;">
        <div style="text-align: center;width:280px;float:right;" ><span>Г.И. Якушкиной</span></div>
    </div>
    <div style="overflow: hidden;">
        <div style="text-align: center;width:280px;float:right;margin-bottom:0;" >#FIO_ROD#,</div>
    </div>
    <div style="overflow: hidden;">
        <p style="text-align: center;float:right; width:280px;margin-top:0;">#DOLJNOST_ROD#</p>
    </div>
    <p align="center"><span>заявление.</span></p>
    <p style="text-align: justify; text-indent: 1.25cm;margin-bottom: 20px">#TEXT#</p>
    <div style="overflow:hidden;margin-bottom: 30px;">
        <div style="float:right;width:250px;text-align: right;"></div>
        <div style="width:250px;text-align: left;">#DATE#</div>
    </div>
</div>
</body>
</html>
