<!DOCTYPE html>
<html>
<head>
    <title>Дополнительный оплачиваемый отпуск</title>
    <meta charset='UTF-8'>
</head>
<body style='font-size:14px; width: 500px;'>
<table>
    <tr>
        <td style='width: 250px;'></td>
        <td style='width: 250px; text-align: center;'> Заместителю Губернатора<br>Тульской области – руководителю<br>
            аппарата Правительства Тульской<br>области – начальнику главного <br>управления государственной службы<br>и
            кадров аппарата Правительства<br>Тульской области<br><br>Г.И. Якушкиной <br><br>
            <span>#EMPLOYEE_FIO_ROD#,</span> <br> <span>#EMPLOYEE_POSITION_ROD#</span></td>
    </tr>
</table>
<div style='text-align: center;'>заявление.</div>
<br> <br>
<div style='text-align: justify; text-indent: 30px'><span>Прошу предоставить ежегодный дополнительный оплачиваемый отпуск на #DAYS# календарных дней #REASON#, в соответствии со статьей 116 Трудового кодекса Российской Федерации и статьей 19 Закона Российской Федерации от 15.05.1991 № 1244-1 «О социальной защите граждан, подвергшихся воздействию радиации вследствие катастрофы на Чернобыльской АЭС» за #YEAR# год с #DATE# года. </span>
</div>
<table>
    <tr>
        <td style='width: 250px'>#DATE_SIGN_USER#</td>
        <td style='width: 250px; text-align: right;'>#SIGN_USER#</td>
    </tr>
</table>
<table>
    <tr>
        <td style='text-align: center;'>СОГЛАСОВАНО</td>
        <td></td>
    </tr>
    <tr>
        <td style='width: 250px; text-align: center;'>#OIV_POSITION#</td>
        <td style='width: 250px; text-align: right;'>#OIV_FIO#</td>
    </tr>
    <tr>
        <td style='width: 250px; text-align: center;'>#OIV_SIGN#</td>
        <td></td>
    </tr>
</table>
</body>
</html>