<!DOCTYPE html>
<html>
<head>
    <title>Материальный пропуск</title>
    <meta charset="UTF-8">
</head>
<body style="font-size:14px; width: 500px;">
<div style="overflow:hidden; margin-bottom: 25px;">
    <div style="width:210px; float:left;text-align: left;">
        <div style="border: 1px solid #999; padding: 3px 5px; width: 95%; text-align: center;">
            <p><strong>Материальный пропуск</strong></p>
            <p><strong>№ #NUMBER_PROPUSK#</strong></p>
            <p>Дата: #DATE_PROPUSK# г.</p>
        </div>
    </div>
    <div style="width:270px; float:right;text-align: right;">
        <strong>#MC_FIO#</strong><br/>
        <strong>#MC_DOLJNOST#</strong><br/>
    </div>
</div>
<p align="center">&nbsp;</p>
<h3 align="center">Заявка на пропуск на вынос материальных ценностей из здания</h3>
<p align="center">&nbsp;</p>
<p>
    <strong>Ведомство:</strong>
    #MC_DEPARTMENT_TEXT#<br/>
</p>
<p>
    <strong>Сотрудник:</strong>
    #MC_FIO#<br/>
</p>
<p>
    <strong>Руководитель, с которым следует согласовать пропуск:</strong>
    #MC_RUKOVODITEL_TEXT#<br/>
</p>
<p>
    <strong>Материально ответственное лицо, за вид материальной ценности подлежащей выносу УД АП ТО:</strong>
    #MC_MATERIALNO_OTVETSTVENNIY_TEXT#<br/>
</p>
<p>
    <strong>Выбор здания:</strong>
    #MC_VYBOR_ZDANIYA#<br/>
</p>
<p>
    <strong>Контактный телефон:</strong>
    #MC_KONTAKTNYY_TELEFON#<br/>
</p>
<p>
    <strong>Количество МЦ:</strong>
    #MC_KOLICHESTVO_MC#<br/>
</p>
<p>
    <strong>Дата и время выноса:</strong>
    #MC_DATA_VREMYA_VYNOSA#<br/>
</p>
<div>
    <strong>Информация о материальных ценностях:</strong><br>
    #MC_NAIMENOVANIE_MC#
</div>
</body>
</html>