<<<<<<< HEAD
.pagetitle{
    display: none !important;
}
.pagetitle2{
    display: block !important;
=======
.pagetitle{
    display: none !important;
}
.pagetitle2{
    display: block !important;
>>>>>>> e0a0eba79 (init)
}