<<<<<<< HEAD
.form-edit-tpl  {background-image:url(images/edit_templ.gif);} 
.form-edit  {background-image:url(images/edit_params.gif);} 
=======
.form-edit-tpl  {background-image:url(images/edit_templ.gif);} 
.form-edit  {background-image:url(images/edit_params.gif);} 
>>>>>>> e0a0eba79 (init)
